{% assign PAGE_LANGUAGE_MATCH = PAGE_LANGUAGE | prepend: '/' | append: '/' %}
{% assign projects = site.pages |
                     where:"layout","list" |
                     where_exp:"page","page.url contains PAGE_LANGUAGE_MATCH" %}

{% assign prev = '' %}
{% assign next = '' %}

{% for p in projects %}
  {% unless forloop.first %}
    {% assign i = forloop.index0 | minus: 1 %}
    {% if projects[forloop.index0].title == page.title %}
      {% assign prev = projects[i] %}
    {% endif %}
  {% endunless %}

  {% unless forloop.last %}
    {% assign i = forloop.index0 | plus: 1 %}
    {% if projects[forloop.index0].title == page.title %}
      {% assign next = projects[i] %}
    {% endif %}
  {% endunless %}
{% endfor %}

<section class="prev-next-container">
  <div class="prev-next prev-next-hide-{{ prev.size }}">
    <a href="{{ site.baseurl }}{{ prev.url }}">
      << {{ site.data.phrases.previous[PAGE_LANGUAGE] }}
    </a>
  </div>
  <div class="prev-next prev-next-hide-{{ next.size }}">
    <a href="{{ site.baseurl }}{{ next.url }}">
      {{ site.data.phrases.next[PAGE_LANGUAGE ]}} >>
    </a>
  </div>
</section>
