{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include menu.html %}
    <div class="main-div-background"></div>
    <div class="main-div">
      {% include title.html %}
      {% include breadcrumbs.html %}
      <section class="content-text post-content-container">
        <h2 class="post-title">{{ page.title }}</h2>
        {% if page.collection %}
          {% include post-date.html %}
        {% endif %}
        {% if page.cover and page.showcover %}
          <img src="{{ site.baseurl }}/{{ page.cover }}">
        {% endif %}
        {{ content }}
        {% if page.swipebox %}
          {% include swipebox.html prefix=page.swipebox project=page.category %}
        {% endif %}
        {% include share.html %}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
